<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Al Stores</title>
	<meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
	<meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
	<meta name="author" content="Luka Cvetinovic for Codrops" />
	<!-- Favicons (created with http://realfavicongenerator.net/)-->
	<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
	<link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="img/favicons/manifest.json">
	<link rel="shortcut icon" href="img/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#00a8ff">
	<meta name="msapplication-config" content="img/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<!-- Normalize -->
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<!-- Owl -->
	<link rel="stylesheet" type="text/css" href="css/owl.css">
	<!-- Animate.css -->
	<link rel="stylesheet" type="text/css" href="css/animate.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.1.0/css/font-awesome.min.css">
	<!-- Elegant Icons -->
	<link rel="stylesheet" type="text/css" href="fonts/eleganticons/et-icons.css">
	<!-- Main style -->
	<link rel="stylesheet" type="text/css" href="css/cardio.css">
	<!-- Custom style -->
	<link rel="stylesheet" type="text/css" href="css/custom.css">
</head>

<body>
	<div class="preloader">
		<img src="img/loader.gif" alt="Preloader image">
	</div>
	<nav class="navbar">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img src="img/black-logo.svg" style="margin-top:-20px;width:80px;height:80px;" data-active-url="img/logo.png" alt=""></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right main-nav">
					<li><a href="#intro">Intro</a></li>
					<li><a href="#services">Les Services</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<header id="intro">
		<div class="container">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3 class="light white">Obtenez vos meilleurs stores.</h3>
							<h1 class="white typed">It's the only place you have to live.</h1>
							<span class="typed-cursor">|</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="cut cut-top"></div>
		<div class="container">
			<div class="row intro-tables">
				<div class="col-md-4">
					<div class="intro-table intro-table-first">
						<h5 class="white heading">Info</h5>
                        <div class="owl-carousel owl-schedule bottom">
							{{#data.info}}
							<div class="item">
								<h5 class="white heading">{{label}}</h5>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">{{row1-text1}}</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">{{row1-text2}}</h5>
									</div>
								</div>
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">{{row2-text1}}</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">{{row2-text2}}</h5>
									</div>
								</div>
								
								<div class="schedule-row row">
									<div class="col-xs-6">
										<h5 class="regular white">{{row3-text1}}</h5>
									</div>
									<div class="col-xs-6 text-right">
										<h5 class="white">{{row3-text2}}</h5>
									</div>
								</div>
								
							</div>
							{{/data.info}}
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-hover">
						<h5 class="white heading hide-hover">Premium Membership</h5>
						<div class="bottom">
							<h4 class="white heading small-heading no-margin regular">Register Today</h4>
							<h4 class="white heading small-pt">20% Discount</h4>
							<a href="#" class="btn btn-white-fill expand">Register</a>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="intro-table intro-table-third">
						<h5 class="white heading">Happy Clients</h5>
						<div class="owl-testimonials bottom">
							<div class="item">
								<h4 class="white heading content">I couldn't be more happy with the results!</h4>
								<h5 class="white heading light author">Adam Jordan</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">I can't believe how much better I feel!</h4>
								<h5 class="white heading light author">Greg Pardon</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">Incredible transformation and I feel so healthy!</h4>
								<h5 class="white heading light author">Christina Goldman</h5>
							</div>
							<div class="item">
								<h4 class="white heading content">Incredible transformation and I feel so healthy!</h4>
								<h5 class="white heading light author">Christina Goldman</h5>
							</div>								
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="services" class="section section-padded">
		<div class="container">
			<div class="row text-center title">
				<h2>Les services</h2>
				<h4 class="light muted text-red">Achieve the best results with our wide variety of training options!</h4>
			</div>
			
			<div class="row services">
				{{#data.services}}
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="{{imgUrl}}" alt="" class="icon">
						</div>
						<h4 class="heading text-red">{{label}}</h4>
						<p class="description text-red">{{description}}</p>
					</div>
				</div>
				{{/data.services}}
			</div>
			
		</div>
		<div class="cut cut-bottom"></div>
	</section>
	<section id="contact" class="section gray-bg">
		<div class="container">
			<div class="row title text-center">
				<h2 class="margin-top">Contact</h2>
				<h4 class="light muted text-red">Appelez-nous au téléphone, ou envoyer un courriel à tout moment.</h4>
			</div>
			<div class="row">
				<div class="col-md-2">

				</div>				
				{{#data.contacts}}
				<div class="col-md-4">
					<div class="service">
						<div class="icon-holder">
							<img src="{{imgUrl}}" alt="" class="icon">
						</div>
						<h4 class="heading text-red">{{label}}</h4>
						<p class="description text-red">{{description}}</p>
						<br>
						{{#if buttonAllow}}
							<p class="description"><a href="#" data-toggle="modal" data-target="#modal1" class="btn btn-red-fill">Contact Us Now!</a></p>
						{{/if}}
					</div>
				</div>
				{{/data.contacts}}
				<div class="col-md-2">

				</div>				

			</div>
		</div>
        <div class="text-center">
            <p class="text-red">Copyright &copy; 2016 | Tous les droits sont réservés | Al Stores</p>
        </div>
	</section>

	<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content modal-popup">
				<a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
				<h3 class="white">Contact</h3>
				<form action="/save-contacts-data" class="popup-form">
					<input type="text" class="form-control form-white" placeholder="Full Name">
					<input type="text" class="form-control form-white" placeholder="Email Address">		
					 <textarea id="inputArea" class="form-control form-white" rows="10"></textarea>
					 <p class="text-white"><i>*note: Leave your phone number.</i></p>
					<button type="submit" class="btn btn-submit">Submit</button>
				</form>
			</div>
		</div>
	</div>



	<!-- Holder for mobile navigation -->
	<div class="mobile-nav">
		<ul>
		</ul>
		<a href="#" class="close-link"><i class="arrow_up"></i></a>
	</div>
	<!-- Scripts -->
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/wow.min.js"></script>
	<script src="js/typewriter.js"></script>
	<script src="js/jquery.onepagenav.js"></script>
	<script src="js/main.js"></script>
</body>

</html>
